
{%extends 'testapp/index.html'%}

{%block main%}
<p class="h3 my-3 pt-2 border-top">Update Details</p>

<form method="POST" >
{% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label">Name: </label>
      <input type="Text" class="form-control" id="name" aria-describedby="name" placeholder={{name}} name="name">
    </div>
    <div class="mb-3">
      <label for="HC" class="form-label">Head Coordinator: </label>
      <input type="text" class="form-control" id="HC" placeholder={{HC}} name="HC">
    </div>
    <button type="submit" class="btn" style="color: #A072EF; background-color: #2B2A2F; transition: all .25s;">Update</button>

  </form>
{%endblock %}