{%extends 'testapp/index.html'%}

{%block main%}
    <div class="add">
        <a href="/User/course/add">
            <svg xmlns="http://www.w3.org/2000/svg" width="2.5rem" height="2.5rem" fill="white" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
        </a>
    </div>
   <div class="container">
        <h2>Courses Added:</h2>
        <table class="table table-hover table-dark text-center">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Head Coordinator</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {%for x in data %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{x.name}}</td>
                    <td>{{x.HC}}</td>
                    <td><a href="/User/course/update/{{x.id}}" class="btn" style="color: #A072EF; background-color: #2B2A2F; transition: all .25s;">Update</a></td>
                    <td><a href="/User/course/delete/{{x.id}}" class="btn" style="color: #A072EF; background-color: #2B2A2F; transition: all .25s;">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
   </div>
{%endblock %}